[project]
authors = ["Brian Grenier <grenierb96@gmail.com>"]
channels = ["conda-forge", "https://conda.modular.com/max"]
preview = ["pixi-build"]
description = "A json library for Mojo"
name = "emberjson"
platforms = ["osx-arm64", "linux-aarch64", "linux-64"]
version = "0.2.1"
license-file = "LICENSE"
homepage = "https://github.com/bgreni/EmberJson"
repository = "https://github.com/bgreni/EmberJson"

[tasks]
build = { cmd = "mojo package emberjson -o emberjson.mojopkg" }
format = { cmd = "mojo format -l 80 ." }
test = { cmd = "python run_tests.py" }
bench = { cmd = "mojo build bench.mojo && ./bench && rm bench" }
update_and_build = { cmd = "pixi update && pixi run test && pixi run build" }
precommit = { depends-on = ["format", "test"] }
update_and_test = "pixi update && pixi run test && pixi run bench"
test_python_compat = "python python_compat.py"

[dependencies]
mojo = "==0.25.7"
[package]
name = "emberjson"
version = "0.2.0"

[package.build]
backend = { name = "pixi-build-mojo", version = "0.1.*" }

[package.host-dependencies]
mojo-compiler = "==0.25.7"

[package.build-dependencies]
mojo-compiler = "==0.25.7"

[package.run-dependencies]
mojo-compiler = "==0.25.7"

[feature.fuzz.tasks]
fuzz = "mojo -D ASSERT=all fuzz.mojo"

[feature.fuzz.dependencies]
faker = ">=36.1.1,<37"

[environments]
fuzz = { features = ["fuzz"], solve-group = "default" }
