name: CI
permissions:
  contents: read

on:
  push:
    branches:
      - main

jobs:
  CI:
    strategy:
      matrix:
        include:
          - { target: linux-64, os: ubuntu-latest }
          # - { target: osx-arm64, os: macos-14 }
      fail-fast: false
    runs-on: ${{ matrix.os }}
    timeout-minutes: 30
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Run Build and Tests
        env:
          TARGET_PLATFORM: ${{ matrix.target }}
        run: |
          curl -fsSL https://pixi.sh/install.sh | sh
          export PATH="$HOME/.pixi/bin:$PATH"
          
          echo "Running Tests"
          pixi run test || exit 1
          echo "Running Build"
          pixi run build || exit 1
